.container {
  padding: 10rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  text-transform: capitalize;
  font-size: 10rem;
  font-family: "Sacramento", cursive;
  margin-bottom: 40px;
}

.description {
  text-align: center;
  line-height: 1.5;
  font-size: 1.5rem;
}

.description a {
  color: #0070f3;
  text-decoration: none;
}

.description a:hover {
  text-decoration: underline;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}
